# Python 102

#### We will cover:
- A bit more on data structures
    - Range object
    - Sets
    - tuple unpacking, zipping
    - casting
- if/elif/else statements
    - in keyword
    - multiple conditions (and, or)
    - comparison operators
- for loops and while loops
    - break and continue
    - iterating through lists and dictionaries
    - nested loops
- defining functions
    - lambda function syntax

### More on data structures!

In [1]:
myList = [1, 2, 3]
myList

[1, 2, 3]

In [2]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [3]:
myList1 = [1,2,3,4,4,4,44, 'abc']

In [4]:
set(myList1)[1]

TypeError: 'set' object is not subscriptable

In [5]:
s = '5'

In [6]:
int(s)

5

In [7]:
students = ['David','Gray','Hsin','Meagan',]
hobbies = ['Board games','Baking','Piano','Writing']

In [8]:
list(zip(students, hobbies))

[('David', 'Board games'),
 ('Gray', 'Baking'),
 ('Hsin', 'Piano'),
 ('Meagan', 'Writing')]

In [9]:
j = ("airpods","yeezys","nyc apartments")

In [10]:
overpriced_headphones, overpriced_sneakers, overpriced_apartments = j

In [11]:
overpriced_headphones

'airpods'

### If, elif, else statements

In [12]:
# ==
# !=
# >
# <
# >=
# <=
# %

if (10 <= 3) or (10 >= 3):
     print("True")

True

In [14]:
my_string = 'data science'
my_string.split(' ')

['data', 'science']

In [15]:
list(my_string)

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [16]:
myString = "monkeys don't lie"
myString.split()

['monkeys', "don't", 'lie']

In [29]:
myString = "yayyy yayyy yayyy"
myString.split(' ')

['yayyy', 'yayyy', 'yayyy']

In [17]:
if 'yayyy' in myString.split(' '):
    print(True)

In [18]:
'joe'.split()

['joe']

In [19]:
list('joe')

['j', 'o', 'e']

In [20]:
'joe'.split('o')

['j', 'e']

In [21]:
myString = 'this is a string with spaces'

In [22]:
myString.split(' ')

['this', 'is', 'a', 'string', 'with', 'spaces']

In [25]:
# " " .. join

In [26]:
#  15 divisible by both 3 and 5

if 15 % 5 == 0:
    print('divisible by 5')
elif 15 % 3 == 0:
    print('divisible by 3')
elif (15 % 5 == 0) and (15 % 3 == 0):
    print('divisible by 3 and 5')

divisible by 5

### For loops and while loops

In [30]:
for ele in range(1,100):
    if ele % 5 == 0:
#         print ele
            continue
    print(ele)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99

In [32]:
for ele in range(1,100):
    if ele % 5 == 0:
        if ele < 4:
            break
    print(ele)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [33]:
shopping_dict = {'Grocieries': {'ben & jerrys': 5.29, 'cheese': 2.79,'ham': 25.0, 'kale': 2.75,'kefir': 4.5,'oranges': 3.64,'tofu four-pack': 12.0,'whole milk': 3.42},
                 'House supplies': {'toilet paper pack': 16.50, 'clorox spray': 6.43, 'kleenex': 2.50,},
                 'Pet supplies': {'Taste of the Wild': 65.20, 'squeaky toy': 4.50, 'duck feet': 8.45}}

In [34]:
shopping_dict.items()

dict_items([('Grocieries', {'ben & jerrys': 5.29, 'cheese': 2.79, 'ham': 25.0, 'kale': 2.75, 'kefir': 4.5, 'oranges': 3.64, 'tofu four-pack': 12.0, 'whole milk': 3.42}), ('House supplies', {'toilet paper pack': 16.5, 'clorox spray': 6.43, 'kleenex': 2.5}), ('Pet supplies', {'Taste of the Wild': 65.2, 'squeaky toy': 4.5, 'duck feet': 8.45})])

In [36]:
for key, val in shopping_dict.items():
    dict_val_list = list(val.values())
    dict_key_list = list(val.keys())
    print(dict_key_list)
#     for idx, item in enumerate(dict_val_list):
#         if item > 10:
#             print(dict_key_list[idx])
# #     print(dict_key_list)

['ben & jerrys', 'cheese', 'ham', 'kale', 'kefir', 'oranges', 'tofu four-pack', 'whole milk']
['toilet paper pack', 'clorox spray', 'kleenex']
['Taste of the Wild', 'squeaky toy', 'duck feet']

In [41]:
for key, val in shopping_dict.items():
    dict_val_list = list(val.values())
    dict_key_list = list(val.keys())
 
    for idx, item in enumerate(dict_val_list):
        if item > 10:
            print(idx, item)
            print(dict_key_list[idx])
    print(dict_val_list)

2 25.0
ham
6 12.0
tofu four-pack
[5.29, 2.79, 25.0, 2.75, 4.5, 3.64, 12.0, 3.42]
0 16.5
toilet paper pack
[16.5, 6.43, 2.5]
0 65.2
Taste of the Wild
[65.2, 4.5, 8.45]

In [37]:
for i in ['hello', 'bye', 'yay']:
    print(i)

hello
bye
yay

In [38]:
for i, val in enumerate(['hello', 'bye', 'yay']):
    print(i, val)

0 hello
1 bye
2 yay

### Functions

In [42]:
def addFive(x):
    return x + 5

In [43]:
addFive(5)

10

In [108]:
addFive2 = lambda x: x + 5

In [109]:
addFive2(5)

10

#### Appendix of examples and data

In [2]:
# Example Data
group_lunch = [
    {'ingredient1': 'rice', 'ingredient2': 'unagi', 'ingredient3': 'miso soup'},
    {'ingredient1': 'seaweed', 'ingredient2': 'tempura', 'ingredient3': 'miso soup'},
    {'ingredient1': 'hamburger', 'ingredient2': 'french fries', 'ingredient3': 'milkshake'}
]

shopping_dict = {'Grocieries': {'ben & jerrys': 5.29, 'cheese': 2.79,'ham': 25.0, 'kale': 2.75,'kefir': 4.5,'oranges': 3.64,'tofu four-pack': 12.0,'whole milk': 3.42},
                 'House supplies': {'toilet paper pack': 16.50, 'clorox spray': 6.43, 'kleenex': 2.50,},
                 'Pet supplies': {'Taste of the Wild': 65.20, 'squeaky toy': 4.50, 'duck feet': 8.45}}

students = ['David','Gray','Hsin','Meagan']
hobbies = ['Board games','Baking','Piano','Writing']

In [1]:
g = input("Enter a number between 1 and 5 : ")

Enter a number between 1 and 5 : 5

In [78]:
# While loop example

while input("Enter a number between 1 and 5 : ")  not in ['1', '2', '3', '4', '5']:
    input("Enter a number between 1 and 5 : ")

Enter a number between 1 and 5 : spaghetti
Enter a number between 1 and 5 : hi
Enter a number between 1 and 5 : bye
Enter a number between 1 and 5 : 4
Enter a number between 1 and 5 : 3

In [44]:
i = 0
while i < 6:
    if i == 3:
        print("foo")
    i += 1
    print(i)

1
2
3
foo
4
5
6

In [119]:
# Python code to demonstrate dictionary  
# comprehension 
  
# Lists to represent keys and values 
keys = ['a','b','c','d','e'] 
values = [1,2,3,4,5]   
  
# but this line shows dict comprehension here   
myDict = { k:v for (k,v) in zip(keys, values)}   
  
# We can use below too 
# myDict = dict(zip(keys, values))
  
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}